Eric Boxer UNI ecb2198

In [1]:
import numpy as np
import pandas as pd

## Part i

In [2]:
N = 1000000

x1 = np.random.uniform(0, 1, size=N)

x2 = np.random.binomial(1, p=x1)

x3 = np.random.binomial(1, p=x1)

p_x4 = .25
x4 = np.random.binomial(1, p=p_x4 + (x2 + x3) / 4)

p_d = .25
d = np.random.binomial(1, p=p_d + (x2 + x3) / 4)

p_y = .5
y = np.random.binomial(1, p=p_y + (x4 + d) / 4)

df = pd.DataFrame({'X1':x1, 'X2':x2, 'X3':x3, 'X4':x4, 'D':d, 'Y':y})
df.head()

         X1  X2  X3  X4  D  Y
0  0.466780   1   1   0  1  1
1  0.382831   0   0   0  0  1
2  0.031418   0   0   0  0  1
3  0.518304   1   0   0  1  1
4  0.752407   1   0   0  0  1

In [3]:
N = 1000000

x1 = np.random.uniform(0, 1, size=N)

x2 = np.random.binomial(1, p=x1)

x3 = np.random.binomial(1, p=x1)

p_x4 = .25
x4 = np.random.binomial(1, p=p_x4 + (x2 + x3) / 4)

p_d = .25
d = np.random.binomial(1, p=p_d + (x2 + x3) / 4)

p_y0 = .5
y0 = np.random.binomial(1, p=p_y0 + x4 / 4)

p_y1 = .75
y1 = np.random.binomial(1, p=p_y1 + x4 / 4)

y = (d==0) * y0 + (d==1) * y1

df = pd.DataFrame({'X1':x1, 'X2':x2, 'X3':x3, 'X4':x4, 'D':d, 'Y':y})
df.head()

         X1  X2  X3  X4  D  Y
0  0.479041   0   1   0  1  1
1  0.544387   1   0   0  0  1
2  0.352033   0   0   0  0  0
3  0.060990   0   1   0  1  1
4  0.423438   1   0   0  1  0

## Part ii

In [4]:
ATE = (y1 - y0).mean()
ATE

0.249999

## Part iii

BDC satisfying $Z = \{X_2, X_3\}$

## Part iv

In [5]:
dfz = df.groupby(['X2', 'X3', 'D'])['Y'].mean()
dfz

X2  X3  D
0   0   0    0.562395
        1    0.811119
    1   0    0.624429
        1    0.875065
1   0   0    0.624821
        1    0.875405
    1   0    0.686913
        1    0.936789
Name: Y, dtype: float64

CATE for X2 = 0, X3 = 0

In [6]:
CATE00 = dfz[0][0][1] - dfz[0][0][0]
CATE00

0.24872395636185185

CATE for X2 = 0, X3 = 1

In [7]:
CATE01 = dfz[0][1][1] - dfz[0][1][0]
CATE01

0.2506353337487299

CATE for X2 = 1, X3 = 0

In [8]:
CATE10 = dfz[1][0][1] - dfz[1][0][0]
CATE10

0.2505848678941801

CATE for X2 = 1, X3 = 1

In [9]:
CATE11 = dfz[1][1][1] - dfz[1][1][0]
CATE11

0.24987626606062818

## Part v

Proportion of the data in each stratum

In [10]:
df_strata = df.groupby(['X2', 'X3'])['Y'].count() / N
df_strata

X2  X3
0   0     0.333424
    1     0.166620
1   0     0.166838
    1     0.333118
Name: Y, dtype: float64

In [11]:
ATE = df_strata[0][0] * CATE00 + df_strata[0][1] * CATE01 + df_strata[1][0] * CATE10 + df_strata[1][1] * CATE11
ATE

0.249736755922521

### Scratch

For fun, this is the naive estimator from the Pearlian framework. There should be bias so we should get a difference with the ATE

In [12]:
d_naive = df.groupby('D')['Y'].mean()[1] - df.groupby('D')['Y'].mean()[0]
d_naive

0.2914534823300411